DirectoryIndex index.php
ErrorDocument 404 /404.json
ErrorDocument 405 /404.json

RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^api/course(/\d*)?$ ./index.php [QSA,L]